/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343935;
    color: #fff;
    line-height: 1.6;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #301f00;
    box-shadow: 0px 5px 20px rgb(184, 184, 184);
}

h1 {
    text-align: center;
    color: #1e8a5f;
    background: linear-gradient(to right, #08b360 0%, #f0a96e 70%, #ffefc1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    font-family: monospace;
    text-align: justify;
}

h4 {
    font-family: monospace;
    margin-left: -400px;
    color: #f0a96e;
    font-size: 40px;
    position: relative;
    font-weight: bold;
    z-index: 1; /* O texto fica acima do gradiente */
    transition: opacity 1s; /* Transição aplicada ao h4 */
}

h4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #08b360a4 0%, #f0a96e 70%, #ffefc1 100%);
    z-index: -1; /* O gradiente fica atrás do texto */
    transition: opacity 1s;
}

h4:hover {
    opacity: 0; /* Texto some no hover */
    transition: opacity 1s; /* Transição suave */
}

h4:hover::before {
    opacity: 0;
    transition: opacity 1s;
    color: #08b36000;
}


h4:hover::before {
    opacity: 0;
    transition: opacity 1s;
    color: #08b36000;
}


.logo {
    width: 45px;
    height: 45px;
    background-color: #ccc;
    border-radius: 10px;
}

.menu {
    list-style: none;
    display: flex;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li a {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #08b360 0%, #f0a96e 70%, #ffefc1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
}

.menu li a {
    color: #0c9b15;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    transition: 1s;
}

.menu li a:hover {
    background: linear-gradient(to right, #08b360 0%, #f0a96e 70%, #ffefc1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.sidenav {
    width: 250px;
    background-color: #1e8a5f;
    color: #F0F4FF;
    border-radius: 20px;
    padding: 20px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex: 1;
}

.images img {
    width: 500px; /* Defina uma largura fixa */
    height: 400px; /* Defina uma altura fixa */
    object-fit: cover; /* Garante que a imagem se ajuste corretamente ao container */
    border-radius: 10px;
}


.footer {
    background-color: #6a6969;
    padding: 30px;
    height: 20px;
}

.footer h3 {
    margin-bottom: 15px;
    text-align: center;
}

